<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pages/menu.css}">
    <title>Menu</title>
</head>
<body>
    <h1>Product menu</h1>

    <div class="container-menu-filter">
        <div class="card-menu-filter" th:each="categories : ${categories}">

            <img th:src="@{${categories.imagemUrl}}" alt="img" class="img">

            <div class="card-footer">
                <h3 th:text="${categories.name}"></h3>
                <a>Clique aqui</a>
            </div>
        </div>
    </div>
</body>
</html>